html,body{
 font-family: Montserrat, sans-serif;
    margin:0;
    padding:0;
    background-color: #e9f0ef;
}
.card-link {
  text-decoration: none;
}
.grid-livros {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
  text-decoration: none;
}
.livro-card:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
  transition: all 0.3s ease;
}
.livro-card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 10px;
  text-decoration: none;
}
.livro-card p,.livro-card h3 {
  font-size: 18px;
  color: #26333d;
}
.livro-card img {
  width: 300px;
  height: 450px;
  border-radius: 10px;
}